<!DOCTYPE html>
<html>
  <head>
    <title>MarketEasy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
<%= render "layouts/header" %>

<main>
  <%= yield %>
</main>

<%= render "layouts/footer" %>


  </body>

  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
	<script>  
		   document.addEventListener('DOMContentLoaded', function() {
	    var elems = document.querySelectorAll('.sidenav');
	    var instances = M.Sidenav.init(elems, options);
	  });
		   // Or with jQuery
		$(document).ready(function(){
	    $('.sidenav').sidenav();
	    $(".button-collapse").sidenav();
	  });
		
	</script>
</html>
